@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* regles CSS */

}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

/* tete de page */
header {

    background-image: url('../img/project-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 770px;
    color: white;

}

.header {
    display: flex;
    justify-content: space-around;
    font-family: roboto;
    height: 80px;

}

.logoHeader {
    margin: 10px;
    padding-left: 40px;
    width: 500px;
}

.topPage {
    display: flex;
    align-items: center;
    color: white;
    list-style: none;
    font-size: 30px;
}

.topPage a {
    color: white;
}

nav li {
    padding-left: 50px;
}

.action {
    background-color: red;
    padding: 20px 40px;
    border-radius: 30px;
    font-size: 20px;
    color: white;

}

.mainSection {
    width: 100%;
    height: 690px;
    color: white;

}

.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;

}

.explore h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 100px;
    margin: 0;
}

/* Upcoming Events< */
.mainUpcoming {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 120px;
}

.titreUpcoming {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titreUpcoming h2 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 60px;
}

.titreUpcoming hr {
    width: 200px;
    border: 2px solid red;
    margin: 30px 0;
}

.titreUpcoming p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
    font-size: 30px;
    margin: 20px 0;
    width: 75%;

}

.pageUpcoming {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 50px;
    margin-top: 60px;
}

.photoUpcoming {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.mainSectionUpcoming {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;


}

.mainSectionUpcoming p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
    font-size: 20px;
    margin: 30px;
    width: 520px;

}

.mainSectionUpcoming h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin: 0;
}

.mainSectionUpcoming a {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
    background-color: red;
    padding: 15px 45px;
    border-radius: 50px;
    color: white;

}

/* OWhy Outdoor Adventure */

.mainDestination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ececec;
    width: 100%;
    margin-top: 80px 0;
    padding-left: 40px;
    height: 600px;
}

.mainSectionDestination {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 40px;

}

.mainSectionDestination h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    margin-top: 30px;
}

.mainSectionDestination h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-top: 30px;
}

.mainSectionDestination hr {
    width: 100px;
    border: 2px solid red;
    margin: 30px 0;
}

.mainSectionDestination p {
    font-family: 'Montserrat', sans-serif;
    line-height: 35px;
    font-size: 25px;
    margin: 10px 0;
    width: 700px;

}

.tiret {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center
}

.tiret hr {
    width: 25px;
}

.tiret p {
    padding-left: 25px;
}


/* footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: roboto;
    color: white;
    font-size: 20px;
    padding: 30px;
}

.footer p {
    align-items: center;
    padding: 20px;
    font-size: 25px;
}